html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: #666;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  box-shadow: 10px 10px #222;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}


/* Themes */
.almond {
  filter: sepia(0)
}

.oak {
  filter: sepia(0.5)
}



/* Btn */
.btn {
  background: #333;
  color: #e0e0e0;
  border: none;
  box-shadow: 3px 3px #222;
  height: 25px;
  margin-bottom: 10px;
}

.btn:hover {
  text-decoration: underline;
}

.btn:active {
  box-shadow: 1px 1px #222;
}